<nav class="navbar">
    <div class="navbar-left">
      <img src="icon.png" alt="Icon">
      <span>Транспортная компания</span>
    </div>
    <div class="navbar-right">
      <a href="#">Вход</a>
      <a href="#">Регистрация</a>
    </div>
  </nav>